body {
  text-align: center;
}
main {
  width: 800px;
  margin: 100px auto;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
